@tailwind base;
@tailwind components;
@tailwind utilities;
/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 8px; /* 设置滚动条宽度 */
    background-color: transparent;
}
body {
    font-family: "Smiley Sans Oblique";
    font-weight: "Regular";
}
article p {
    letter-spacing: 0.1em;
}
::-webkit-scrollbar-track {
    /* 设置滚动条轨道背景色 */
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #9ca1ad70; /* 设置滚动条滑块颜色 */
    border-radius: 4px; /* 设置滚动条滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9ca1ad70; /* 设置滚动条滑块在鼠标悬停时的颜色 */
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
